*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.5s;
}

strong{
   color: #FF5B50;
}

body{
    background-image: url(assets/background.png);
    background-position: center;
    padding-top: 3.5625rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.menu-hamburguer{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 40px;
    order: -1;
    cursor: pointer;
    position: relative;
    display: none;
}

.line{
    width: 100%;
    height: 4px;
    background-color: #fff;
}

.menu-hamburguer:hover .line:nth-child(1){
    rotate: 45deg;
    position: absolute;
}

.menu-hamburguer:hover .line:nth-child(2){
    display: none;
}

.menu-hamburguer:hover .line:nth-child(3){
    rotate: 135deg;
    position: absolute;
    transition: 0.5seg;
}

header > nav ul{
    display: flex;
    gap:3.75rem;
    list-style: none;
}

header > nav > ul a:hover{
    text-decoration: underline;
    transition: 0.5s;
    color: rgb(92, 92, 92);
}

header > nav > ul a{
    text-decoration: none;
}

header button{
    display: flex;
    gap: 0.9375rem;
    align-items: center;
    padding: 0.625rem 1.375rem 0.625rem 0.875rem;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.5s;
}

header button:hover{
    background-color: #fff;
}

header button:hover h1{
    color: #000;
}

header > button h1{
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

.intro{
    padding: 5.625rem 5vw 6.25rem 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 3.4375rem;
}

.intro-text > .description{
    max-width: 32ch;
}

.text-artists{
    display: flex;
    align-items: flex-end;
    gap: 0.375rem;
}

.text-artists-data .data{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.125rem;
}

.text-artists-data .title{
    font-size: 1.125rem;
}

.intro-title h1{
    font-size: 3rem;
    max-width: 590px;
}

.intro-title h1 strong{
    font-size: 3rem;
    font-weight: bold;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5vw;
    column-gap: 1rem;
    row-gap: 3.75rem;
}

.gallery img{
    width: 100%;
    display: block;
    border: 1px solid #fff;
}

.gallery img:hover{
    border: 1px solid grey;
    cursor: pointer;
}

.infos{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'infos-data-container infos-description-container'
    'infos-data-container infos-img';
    background-color: #0E0E0E;
    align-items: end;
}

.infos-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.3125rem 4.3125rem 8.3125rem 5.4375rem;
    gap: 4.375rem;
    border-right: 1px solid #5A5757;
    border-bottom: 1px solid #5A5757;
    background-color: #0E0E0E;
    grid-area: infos-data-container;
}

.infos-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-data-container > .infos-data h1{
    font-size: 3.125rem;
    font-weight: 600;
}

.infos-data-container > .infos-data p{
    font-size: 1.25rem;
    font-weight: 600;
    color: #5A5757;
}

.infos-descriptions-container{
    display: flex;
    grid-area: infos-description-container;
}

.infos-description{
    max-width: 44ch;
    padding: 5rem 4.25rem 4.4375rem 4.25rem;
    display: flex;
    flex-direction: column;
    gap: 3.9375rem;
}

.infos-description strong{
    font-weight: 300;
    font-size: 1.25rem;
    text-decoration: underline;
}

.infos img{
    max-width: 100%;
    grid-area: infos-img;
}

.popular{
    padding: 9.375rem 5vw;
    background-color: #0E0E0E;
    position: relative;
}

.popular h1{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 9.875rem;
}

.popular h1 strong{
    font-size: 3.125rem;
    font-weight: bold;
}

.popular-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.125rem;
    column-gap: 4rem;
    align-items: center;
}

.astronaut-card{
    display: flex;
    flex-direction: column;
    max-width: 21.875rem;
}

.astronaut-card:hover{
    cursor: pointer;
}

.astronaut-card:nth-child(even){
    justify-self: end;
}

.astronaut-card h2{
    font-size: 1.875rem;
    font-weight: 500;
}

.astronaut-card > .card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title > h2{
    font-size: 1.875rem;
    font-weight: 500;
}

.astronaut-card > .card-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.625rem;
    margin-top: 2.75rem;
    gap: 2rem;
}

.card-name > .name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #5A5757;
}

.card-name > .price{
    font-size: 1.25rem;
    font-weight: normal;
    color: #FF5B50;
}

.astronaut-img{
    max-width: 100%;
}

.decorator{
    height: 60%;
    width: 1px;
    background-color: #5A5757;
    position: absolute;
    right: 50%;
}

.melhores-artistas{
    padding: 0 5vw;
    padding-bottom: 9.75rem;
    background-color: #0E0E0E;
}

.melhores-artistas h1{
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 7.5rem;
}

.melhores-artistas > h1 strong{
    font-size: 3.125rem;
    font-weight: bold;
}

.melhores-artistas-container{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 7vw 2rem;
}

.artista-card{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 1.5625rem 2rem;
    background-color: #252525;
    cursor: pointer;
}

.artista-card:hover{
    background-color: #FF5B50;
    color: white;
    transition: 0s;
}

.artista-card:hover strong{
    background-color: #FF5B50;
    color: white;
}

.artista-card-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.artista-card-text{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.artista-card-text-name, .artista-card-text-fotos strong{
    font-size: 1.25rem;
    font-weight: normal;
}

.artista-card-text-fotos{
    font-weight: 400;
    width: 15ch;
}

.melhores-artistas-link{
    text-align: center;
    margin-top: 3.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
}

.melhores-artistas-link:hover a{
    text-decoration: underline;
}

.melhores-artistas-link a{
    text-decoration: none;
    font-size: 1.25rem;
}

footer{
    background-color: #0E0E0E;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #252525;
}

.footer-logo{
    grid-column: 1 / 3;
    padding:  6.25rem 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5A5757;
}

.footer-logo a{
    padding: 1.75rem;
    background-color: #FF5B50;
    cursor: pointer;
}

.news{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    align-items: center;
    padding: 5vw 0;
    border-bottom: 1px solid #5A5757;
    border-right: 1px solid #5A5757;
}

.news-container{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.news-email{
    display: flex;
    align-items: center;
}

.news-email input{
    width: 18.125rem;
    padding: 20px 25px 20px 20px;
    background-color: #0D0D0D;
    border: none;
}

.news-email input::placeholder{
    font-size: 1.25rem;
    color: #5A5757;
}

.news-email button{
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    padding: 14px 20px;
    background-color: #FFF;
    border: none;
    height: 100%;
}

.news h1, strong{
    font-size: 1.875rem;
    font-weight: 500;
    max-width: 16ch;
}

nav > ul{
    list-style: none;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 8.125rem;
    padding-left: 7.625rem;
    border-bottom: 1px solid #5A5757;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links h2{
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-links a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #5A5757;
}

.social{
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.75rem 5vw;
}

.social a{
    font-size: 1.25rem;
    color: #5A5757;
    text-decoration: none;
}

.social a > strong{
    font-size: 1.5rem;
}

.social .icons{
    display: flex;
    align-items: center;
    gap: 3.125rem;
}

.white-18-normal{
    font-weight: normal;
    color: white;
    font-size: 18px;
}

@media(max-width:1300px){
    .melhores-artistas-container{
        justify-content: center;
        gap: 7vw 7vw;
    }
}

@media(max-width:1150px){
    footer{
        grid-template-columns: 1fr;
        padding: 0 5vw;
    }

    .footer-logo{
        grid-column: 1 / 2;
        padding: 3rem 0;
    }

    .news{
        padding: 3rem 0px;
        border-right: none;
    }

    .footer-links{
        padding: 3rem 0px;
        justify-content: space-evenly;
        gap: 0px;
    }

    .social{
        grid-column: 1 / 2;
        padding: 3.75rem 0;
    }

}

@media(max-width:1050px){
    header > nav{
        display: none;
    }

    .menu-hamburguer{
        display: flex;
    }

    .intro{
        justify-content: space-evenly;
    }

    .intro-title{
        max-width: 45ch;
    }

    .intro img:nth-child(3){
        display: none;
    }

    .infos{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infos-data-container{
        flex-direction: row;
        padding: 4rem 0px ;
        border-right: none;
    }

    .infos-descriptions-container{
        padding: 4rem 5vw;
        gap: 3rem;
    }

    .infos-description{
        gap: 2rem;
        padding: 0px;
    }
}

@media(max-width:900px){
    .artista-card{
        flex-direction: column;
    }

    .artista-card-text{
        text-align: center;
    }
}

@media(max-width:770px){    
    .intro{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .intro-title{
        order: -1;
    }
}

@media(max-width:750px){
    header{
        align-items: flex-end;
    }
    
    header button{
        flex-direction: column;
        padding: 0px;
        border: none;
    }

    header button h1{
        font-size: 0.8rem;
    }

    header button:hover{
        background-color: transparent;
    }

    header button:hover h1{
        color: grey;
    }

    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-title h2{
        font-size: 1rem;
        margin: 0px;
    }

    .astronaut-card > .card-title img{
        width: 1rem;
    }

    .card-name{
        margin: 0;
    }

    .card-name > .name{
        font-size: 0.8rem;
    }

    .card-name > .price{
        font-size: 0.8rem;
    }

    .social{
        flex-direction: column;
        row-gap: 3rem;
    }
}

@media (max-width: 650px){
    header > img{
        width: 200px;
    }

    .gallery{
        row-gap: 2rem;
    }

    .popular{
        padding-top: 5rem;
    }

    .popular h1{
        font-size: 2.9rem;
        max-width: 10ch;
        margin-bottom: 5rem;
    }

    .popular > h1 strong{
        font-size: 2.9rem;
    }

    .astronaut-card > .card-title img{
        width: 1rem;
    }

    .astronaut-card > .card-name{
        margin: 1rem 0px;
    }

    .melhores-artistas{
        padding-bottom: 5rem;
    }

    .footer-logo a{
        padding: 1rem;
    }
}

@media (max-width: 560px){
    header{
        align-items: center;
    }
    header button{
        display: none;
    }

    .menu-hamburguer{
        order: 1;
    }

    .infos-data-container{
        justify-content: space-between;
        gap: 0px;
        width: 100%;
        padding: 3rem 5vw;
    }

    .infos-data-container > .infos-data h1{
        font-size: 2rem;
    }

    .infos-descriptions-container{
        flex-direction: column;
        max-width: 40ch;
    }

    .popular{
        padding: 5rem 5vw;
    }

    .melhores-artistas h1{
        font-size: 3.125rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    .popular-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .astronaut-card:nth-child(even){
        justify-self: center;
    }

    .card-title h2{
        font-size: 1.5rem;
    }

    .astronaut-card > .card-title img{
        width: 1.5rem;
    }

    .card-name > .name{
        font-size: 1rem;
    }

    .card-name > .price{
        font-size: 1rem;
    }

    .decorator{
        display: none;
    }

    .artista-card{
        flex-direction: row;
    }

    .artista-card-text{
        text-align: right;
    }

    .footer-logo{
        padding: 3rem 0;
    }

    .news{
        padding: 3rem 0;
    }

    .footer-logo > img{
        width: 200px;
    }

}

@media (max-width: 500px){
    .news-email input{
        max-width: 180px;
    }

    .news-email button{
        padding: 5px;
    }
}

@media (max-width: 450px){
    .footer-links{
        padding: 5rem 0;
    }

    .footer-links nav h2{
        font-size: 1rem;
    }

    .footer-links nav a{
        font-size: 1rem;
    }

    .social > a strong{
        font-size: 1.2rem;
    }
}

@media (max-width: 400px){
    .intro-title h1{
        font-size: 2.3rem;
    }

    .intro-title h1 strong{
        font-size: 2.3rem;
    }

    .text-artists > img{
        width: 150px;
    }

    .artista-card{
        gap: 1rem;
        padding: 1rem;
    }

    .artista-card-picture{
        width: 80px;
    }

    .artista-card-picture img{
        max-width: 100%;
    }
}

@media (max-width: 350px){
    header > img{
        width: 170px;
    }

    .infos-data-container > .infos-data h1{
        font-size: 1.5rem;
    }

    .news-container h1{
        font-size: 1.5rem;
    }

    .news-container h1 > strong{
        font-size: 1.5rem;
    }

    .news-email input{
        padding: 1rem;
    }

    .news-email button{
        font-size: 1rem;
    }

    .icons{
        gap: 1.5rem;
    }
}








