*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

strong{
   color: #FF5B50;
}

body{
    background-image: url(assets/background.png);
    background-position: center;
    padding-top: 3.5625rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

header > nav ul{
    display: flex;
    gap:3.75rem;
    list-style: none;
}

header > nav > ul a{
    text-decoration: none;
    font-size: 1.125rem;
}

header button{
    display: flex;
    gap: 0.9375rem;
    align-items: center;
    padding: 0.625rem 1.375rem 0.625rem 0.875rem;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

header > button h1{
    font-weight: bold;
    font-size: 1rem;
    color: #000;
}

.intro{
    padding: 5.625rem 5vw 6.25rem 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 3.4375rem;
}

.intro-text > .description{
    font-size: 1.125rem;
    max-width: 32ch;
}

.text-artists{
    display: flex;
    align-items: flex-end;
    gap: 0.375rem;
}

.text-artists-data .data{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.125rem;
}

.text-artists-data .title{
    font-size: 1.125rem;
}

.intro-title h1{
    font-size: 3rem;
    max-width: 590px;
}

.intro-title h1 strong{
    font-size: 3rem;
    font-weight: bold;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5vw;
    column-gap: 1rem;
    row-gap: 3.75rem;
}

.gallery img{
    width: 100%;
    display: block;
    border: 1px solid #FFF;
}

.infos{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'infos-data-container infos-description-container'
    'infos-data-container infos-img';
    background-color: #0E0E0E;
    align-items: end;
}

.infos-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.3125rem 4.3125rem 8.3125rem 5.4375rem;
    gap: 4.375rem;
    border-right: 1px solid #5A5757;
    border-bottom: 1px solid #5A5757;
    background-color: #0E0E0E;
    grid-area: infos-data-container;
}

.infos-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-data-container > .infos-data h1{
    font-size: 3.125rem;
    font-weight: 600;
}

.infos-data-container > .infos-data p{
    font-size: 1.25rem;
    font-weight: 600;
    color: #5A5757;
}

.infos-descriptions-container{
    display: flex;
    grid-area: infos-description-container;
}

.infos-description{
    max-width: 44ch;
    font-size: 1.125rem;
    padding: 5rem 4.25rem 4.4375rem 4.25rem;
    display: flex;
    flex-direction: column;
    gap: 3.9375rem;
}

.infos-description strong{
    font-weight: 300;
    font-size: 1.25rem;
    text-decoration: underline;
}

.infos img{
    max-width: 100%;
    grid-area: infos-img;
}

.popular{
    padding: 9.375rem 5vw;
    background-color: #0E0E0E;
    position: relative;
}

.popular h1{
    font-size: 3.125rem;
    margin-bottom: 9.875rem;
}

.popular h1 strong{
    font-size: 3.125rem;
}

.popular-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.125rem;
    align-items: center;
}

.astronaut-card{
    display: flex;
    flex-direction: column;
    max-width: 21.875rem;
}

.astronaut-card:nth-child(even){
    justify-self: end;
}

.astronaut-card h2{
    font-size: 1.875rem;
    font-weight: 500;
}

.astronaut-card > .card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title > h2{
    font-size: 1.875rem;
    font-weight: 500;
}

.astronaut-card > .card-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.625rem;
    margin-top: 2.75rem;
}

.card-name > .name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #5A5757;
}

.card-name > .price{
    font-size: 1.25rem;
    font-weight: normal;
    color: #FF5B50;
}

.astronaut-img{
    grid-column: 1 / 3;
    max-width: 100%;
}

.decorator{
    height: 45rem;
    width: 1px;
    background-color: #5A5757;
    position: absolute;
    right: 50%;
}

.melhores-artistas{
    padding: 0 5vw;
    padding-bottom: 9.75rem;
    background-color: #0E0E0E;
}

.melhores-artistas h1{
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 7.5rem;
}

.melhores-artistas-container{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 7vw 2rem;
}

.artista-card{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 1.5625rem 2rem;
    background-color: #252525;
}

.artista-card:hover{
    background-color: #FF5B50;
    color: white;
}

.artista-card:hover strong{
    background-color: #FF5B50;
    color: white;
}

.artista-card-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.artista-card-text{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.artista-card-text-name, .artista-card-text-fotos strong{
    font-size: 1.25rem;
    font-weight: normal;
}

.artista-card-text-fotos{
    font-weight: 400;
    max-width: 14ch;
}

.melhores-artistas-link{
    text-align: center;
    margin-top: 3.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
}

.melhores-artistas-link:hover a{
    text-decoration: underline;
}

.melhores-artistas-link a{
    text-decoration: none;
    font-size: 1.25rem;
}

footer{
    background-color: #0E0E0E;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #252525;
}

.footer-logo{
    grid-column: 1 / 3;
    padding:  6.25rem 5.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5A5757;
}

.footer-logo img:nth-child(2){
    padding: 1.75rem;
    background-color: #FF5B50;
}

.news{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    align-items: center;
    padding: 4.1875rem 0;
    border-bottom: 1px solid #5A5757;
    border-right: 1px solid #5A5757;
}

.news-container{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.news-email{
    display: flex;
    align-items: center;
}

.news-email input{
    width: 18.125rem;
    padding: 20px 25px 20px 20px;
    background-color: #0D0D0D;
    border: none;
}

.news-email input::placeholder{
    font-size: 1.25rem;
    color: #5A5757;
}

.news-email button{
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    padding: 14px 20px;
    background-color: #FFF;
    border: none;
}

.news h1, strong{
    font-size: 1.875rem;
    font-weight: 500;
    max-width: 16ch;
}

nav > ul{
    list-style: none;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 8.125rem;
    padding-left: 7.625rem;
    border-bottom: 1px solid #5A5757;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links h2{
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-links a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #5A5757;
}

.social{
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.75rem 5vw;
}

.social a{
    font-size: 1.25rem;
    color: #5A5757;
    text-decoration: none;
}

.social .icons{
    display: flex;
    align-items: center;
    gap: 3.125rem;
}







